/* CSs for hackers pouletto */

body {
    font-family: bellotaregular;
}
img {
    width: 120px;
    height: auto;


}
h1 {
    color:#303030;
    font-family: bellotaregular;
    margin-top: auto;
    margin-bottom: auto;

}
#button {
    background-color:#15C5BD;
    color:white;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    font-style:normal !important;
    font-weight: bold;
}
.form-control {

    background-color : #F2F2F2;
    font-style: oblique; 
  
  }




/* #background {
    background-color:#303030;
} */
label {
    color:#303030;
}





@font-face {
    font-family: 'bellotaregular';
    src: url('../fonts/Bellota-Regular-webfont.woff');

    font-weight: normal;
    font-style: normal;

}

.error {
    color: red;
    font-size: 12px;
}

.good {
    color:green;
    font-size: 12px;
}