/* CSs for hackers pouletto */


img {
    width: 120px;
    height: auto;


}
h1 {
    color:#303030;
    font-family: Bellota;
    margin-top: auto;
    margin-bottom: auto;

}


/* #background {
    background-color:#303030;
} */
label {
    color:white;
}

#button {
    background-color:#15C5BD;
    color:white;
}

@font-face {
    font-family:Bellota;
    src:url('assets/fonts/Bellota-Regular.otf');
    font-style: normal;
    font-weight: normal;

}
@font-face {
    font-family:Bellota;
    src:url('assets/fonts/Bellota-Bold.otf');
    font-weight: bold;

}