/* CSs for hackers pouletto */


img {
    width: 200px;
    height: auto;


}
h1 {
    color:#303030;
    font-family: Bellota;
}

main {
    background-color:#303030;
}

#button {
    background-color:#15C5BD;
    color:white;
}

@font-face {
    font-family:Bellota;
    src:url('assets/font/Bellota-Regular.otf');

}